.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--header-background);
  min-height: 80px;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);


  &__container {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px 0 10px;

    @media screen and (max-width: 526px) {
      margin: 0;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 12rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &_icon {
      width: 37px;
      height: 37px;
      color: #172194;

      @media screen and (max-width: 526px) {
        width: 35px;
        height: 35px;
      }
    }
    
    p {
      color: var(--header-title);
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;

      @media screen and (max-width: 526px) {
        font-size: 14px;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 526px) {
      gap: 1.3rem;
    }

    .burger-menu__button {
      background-color: var(--button-background);
      display: none;

      &_icon {
        color: var(--header-title);
        width: 37px;
        height: 37px;

        @media screen and (max-width: 526px) {
          width: 34px;
          height: 34px;
        }
      }

      @media screen and (max-width: 1300px) {
        display: block;
      }
    }

    &-search-mobail {
      background-color: var(--button-background);
      display: none;

      &-search {
        color: var(--header-title);
        width: 37px;
        height: 37px;
      }

      @media screen and (max-width: 1300px) {
        display: block;
      }

      @media screen and (max-width: 783px) {
        display: none;
      }
    }
  }

  &__search {
    width: 330px;
    border-radius: 1rem;
    border: 1px solid #ACACAC;
    padding: 10px;

    @media screen and (max-width: 1300px) {
      display: none;
    }

    @media screen and (max-width: 922px) {
      margin-left: -9rem;
    }

    &.search-active {
      display: block;

      @media screen and (max-width: 783px) {
        display: none;
      }
    }
  }

  &__search_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &_search {
      color: var(--header-icon-color);
      width: 20px;
      height: 20px;
    }

    input {
      font-size: 16px;
      background-color: var(--input-background);
      color: var(--input-color);
    }
  }

  &__user, &__sun {
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: var(--header-icon-color);
    background-color: var(--header-icon-background);

    @media screen and (max-width: 526px) {
      width: 34px;
      height: 34px;
    }
  }
  &__moon {
    color: #ffffff;
    background-color: var(--header-icon-background);

    @media screen and (max-width: 526px) {
      width: 34px;
      height: 34px;
    }
  }
  &__sun {
    color: #796041;
  }
  &__reg-button {
    padding: 9px 20px;
    border-radius: 1rem;
    background-color: #4331ca;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;

    @media screen and (max-width: 400px) {
      padding: 5px 16px;
      font-size: 14px;
    }
  }
}

button {
  background-color: #fff;
}

