.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--header-background);
  min-height: 80px;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);


  &__container {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px 0 10px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 12rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &_icon {
      width: 37px;
      height: 37px;
      color: #172194;
    }
    
    p {
      color: var(--header-title);
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 2rem;

    .burger-menu__button {
      display: none;

      &_icon {
        width: 37px;
        height: 37px;
      }

      @media screen and (max-width: 1300px) {
        display: block;
      }
    }

    &-search-mobail {
      display: none;

      &-search {
        width: 37px;
        height: 37px;
      }

      @media screen and (max-width: 1300px) {
        display: block;
      }
    }
  }

  &__search {
    width: 330px;
    border-radius: 1rem;
    border: 1px solid #ACACAC;
    padding: 10px;

    @media screen and (max-width: 1300px) {
      display: none;
    }

    &.search-active {
      display: block;
    }
  }

  &__search_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &_search {
      color: var(--header-icon-color);
      width: 20px;
      height: 20px;
    }

    input {
      font-size: 16px;
      background-color: var(--input-background);
      color: var(--input-color);
    }
  }

  &__user, &__sun {
    width: 35px;
    height: 35px;
    color: var(--header-icon-color);
    background-color: var(--header-icon-background);
  }
  &__moon {
    color: #ffffff;
    background-color: var(--header-icon-background);
  }
  &__sun {
    color: #796041;
  }
}

button {
  background-color: #fff;
}

