.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 30;
    border-radius: 10px;
    border-top: 1px solid #eeeded;

    &__container {
        padding: 0.8rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 1rem;

        h1 {
            font-weight: 700;
            font-size: 1.1rem;
        }

        &_container {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 50px;
                height: 50px;
                border-radius: 10px;
            }

            &_info {
                margin-right: 4rem;
                h2 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: 3px;
                }
                p {
                    font-weight: 300;
                }
            }
        }

        &_buttons {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        &-button {
            width: 19px;
            height: 19px;

            &-red {
                width: 19px;
                height: 19px;
                color: #de1818;
            }
        }
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;

        &_icon {
            display: flex;
            align-items: center;
            width: 300px;
            justify-content: space-between;

            &_slider {
                display: flex;
                align-items: center;
                gap: 3rem;
            }
        }

        &_time {
            display: flex;
            align-items: center;
            gap: 1rem;

            &_text {
                font-weight: 400;
                font-size: 12px;
            }
        }
    }

    &__button-play {
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: rgb(56, 103, 163);
        box-shadow: 0px 3px 10px 5px rgba(56, 103, 163, 0.5);
        border-radius: 100%;
    }

    &__audioTracks {
        width: 300px;
        height: 5px;
        border-radius: 3px;
        cursor: pointer;
        background-color: #e6e6e6;

        &_container {
            width: 100%;
            height: 100%;
            background-color: inherit;
        }

        span {
            display: block;
            height: 100%;
            background-color: rgb(56, 103, 163);
        }
    }

    &__volume {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.button {
    cursor: pointer;
    width: 23px;
    height: 23px;
    color: rgb(56, 103, 163);

    &.play {
        color: #ffffff;
    }

    &.next {
        color: rgb(56, 103, 163);
    }

    &.prev {
        transform: rotate(180deg);
        color: rgb(56, 103, 163);
    }

    &.repeat {
        opacity: 0.5;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: inherit;
    cursor: pointer;
    width: 8rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(53, 97, 131);
    height: 0.3rem;
}

input[type="range"]::-moz-range-track {
    background: rgb(53, 97, 131);
    height: 0.3rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;
    background-color: #ffffff;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
    border: 1px solid #e6e5e5;
}

.added__container {
    position: relative;
}

.addedModal {
    position: absolute;
    z-index: 100;
    -webkit-box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.19);
    -moz-box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.19);
    box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.19);

    bottom: 3rem;
    right: -115px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 20px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &_item {
            color: #6d6d6d;
        }

        li {
            cursor: pointer;
            font-size: 16px;
            color: #5C5A5A;
            transition: 0.2s;

            &:hover {
                color: #000000;
            }
        }
    }
}

