html {
  scrollbar-width: thin;
}


.sidebar {
  position: fixed;
  top: 81px;
  left: 0;
  width: 13%;
  padding: 0 10px;
  background-color: var(--sidebar-background);
  height: 100vh;

  @media screen and (max-width: 1300px) {
    display: none;
  }

  &__container {
    max-width: 210px;
    margin: 0 auto;
  }

  &__top {

    padding: 42px 0 27px 0;
    border-bottom: 1px solid #cacaca;

    ul {
      display: flex;
      flex-direction: column;

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 16px;
        font-weight: 600;
        color: var(--sidebar-title-color);
        transition: 0.3s;
        padding: 10px;
        border-radius: 10px;

        &:hover {
          color: var(--sidebar-title-color-hover);
          background-color: var(--sidebar-item-background);
        }
      }
    }
  }

  &__bottom {
    padding-top: 20px;

    &-container {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 16px;
      font-weight: 600;
      color: #5C5A5A;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      transition: 0.3s;

      &:hover {
        background: var(--sidebar-item-background);
      }
    }

    &-create-button {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      width: 100%;
      padding: 10px 14px;
      background-color: var(--button-background);
      color: #646464;
      border-radius: 1rem;
      font-size: 1.2rem;
      transition: 0.2s;
      font-weight: 700;
      margin-bottom: 2rem;

      &:hover {
        -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__playlists {
    height: 60vh;
    overflow: auto;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #9E9E9E;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #bfbfbf;
      border-radius: 20px;
    }
  }

  &__playlist {
    padding: 6px;
    transition: 0.3s;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--sidebar-item-background);
    }

    &-container {
      display: flex;
      gap: 0.8rem;
      align-items: center;
    }

    &-images {
      width: 50px;
      height: 50px;
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background-color: #f2f3f7;
      border: 1px solid #cdcdcd;

      &_icon {
        color: #b4b4b4;
        width: 20px;
        height: 20px;
      }
    }

    &_info {

      color: #000000;

      h3 {
        font-size: 16px;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.4rem;
      }

      h4 {
        color: #656565;
      }
    }
  }
}