.sidebar {
  position: fixed;
  top: 101px;
  left: 0;
  width: 13%;
  padding: 0 10px;
  background-color: #f2f3f7;
  height: 100vh;

  @media screen and (max-width: 1300px) {
    display: none;
  }

  &__container {
    max-width: 210px;
    margin: 0 auto;
  }

  &__top {

    padding: 45px 0 27px 0;
    border-bottom: 1px solid #cacaca;

    ul {
      display: flex;
      flex-direction: column;

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 16px;
        font-weight: 600;
        color: #5C5A5A;
        transition: 0.3s;
        padding: 10px;
        border-radius: 10px;

        &:hover {
          color: #000000;
          background-color: #fff;
        }
      }
    }
  }

  &__bottom {
    padding-top: 20px;

    div {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 16px;
      font-weight: 600;
      color: #5C5A5A;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      transition: 0.3s;

      &:hover {
        color: #000000;
        background-color: #fff;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      width: 100%;
      padding: 10px 14px;
      background-color: #fff;
      color: #646464;
      border-radius: 1rem;
      font-size: 1.2rem;
      transition: 0.2s;
      font-weight: 700;

      img {
        width: 12px;
      }

      &:hover {
        -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}