.sidebar {
  position: fixed;
  top: 101px;
  left: 0;
  width: 13%;
  padding: 0 10px;
  background-color: #F9F9F9;
  height: 100vh;

  @media screen and (max-width: 1300px) {
    display: none;
  }

  &__container {
    max-width: 210px;
    margin: 0 auto;
  }

  &__top {

    padding: 45px 0 27px 0;
    border-bottom: 1px solid #cacaca;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 16px;
        font-weight: 600;
        color: #5C5A5A;
        transition: 0.5s;

        &:hover {
          color: #000000;
        }
      }
    }
  }

  &__bottom {
    padding-top: 33px;

    div {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 16px;
      font-weight: 600;
      color: #5C5A5A;
      cursor: pointer;

      &:hover {
        color: #000000;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      padding: 6px 10px 6px 10px;
      background-color: #fff;
      border: 1px solid #BBBBBB;
      color: #646464;
      border-radius: 6px;
      transition: 0.2s;

      &:hover {
        box-shadow: 1px 2px 1px #646464;
      }
    }
  }
}