.sound {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    margin-bottom: 65px;

    &__block {
        padding: 10px;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;

        &:hover {
            border: 1px solid rgb(252, 213, 99);

            .sound__play-container {
                display: block;
            }
        }

        .sound__left {
            display: flex;
            align-items: center;
            gap: 2rem;

            h2 {
                font-size: 17px;
                font-weight: 700;
            }

            .sound__name {
                h3 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 0.4rem;
                }

                &-favorite {
                    h3 {
                        font-size: 19px;
                        font-weight: 400;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        font-weight: 300;
                        font-size: 15px;
                    }
                }
            }

            p {
                font-weight: 300;
                font-size: 14px;
            }
        }

        .time {
            font-size: 14px;
            font-weight: 500;
        }

        &_skeleton {
            border: 1px solid #f0f0f0;
            border-radius: 10px;
            margin-bottom: 5px;
        }
    }

    &__container-block {
        position: relative;
        z-index: 10;

        .sound__play-container {
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 40;
            border-radius: 100%;
            background-color: #fff;
            padding: 5px;
            display: none;
        }
    }

    &__image-author {
        width: 40px;
        height: 40px;
        border-radius: 10px;

        &-favorite {
            width: 50px;
            height: 50px;
            border-radius: 7px;
        }
    }

    &__right {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;

        &-favorite {
            width: 20px;
            height: 20px;
           color: #f01212;
        }
    }

    &__time-favorite {
        font-size: 16px;
        font-weight: 400;
    }
}
