.user {
  position: fixed;
  top: 80px;
  right: -100%;
  opacity: 0;
  transition: opacity ease 0.4s;
  z-index: 200;
  width: 400px;
  height: 100vh;
  background-color: var(--modal-background);
  border-left: var(--border);

  @media screen and (max-width: 660px){
    width: 100%;
  }

  &.active {
    opacity: 1;
    right: 0;
  }

  &__container {
    position: relative;
    width: 87%;
    height: 75vh;
    margin: 2rem auto;
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;


    h1 {
      font-size: 25px;
      font-weight: 600;
    }

    &_icon {
      width: 27px;
      height: 27px;
      color: var(--header-title);
      cursor: pointer;
    }
  }
  
  &__info {
    background-color: var(--registation-background);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    color: var(--header-title);
    font-size: 18px;
    margin-bottom: 4rem;

    &_title {
      margin-bottom: 0.5rem;
    }
  }

  &__button {
    background-color: inherit;
    text-align: center;
    color: #5353f5;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    p {
      font-size: 18px;
      font-weight: 600;
    }
    &_icon {
      width: 25px;
      height: 25px;
    }

    &_delete {
      width: 25px;
      height: 25px;
      color: var(--header-title);
    }

    &_delete-text {
      color: var(--header-title);
    }
  }
}