html {
    scrollbar-width: thin;
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--player-background);
    z-index: 100;
    border-radius: 10px;
    border-top: var(--border);

    button {
        background-color: var(--player-background-icon);
        color: var(--header-title);
    }

    .player__button-play {
        background-color: rgb(56, 103, 163);
    }

    &__container {
        padding: 0.8rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 959px) {
            padding: 0.5rem 1rem 0.2rem 1rem;
            justify-content: start;
            gap: 3rem;
        }

        @media screen and (max-width: 760px) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 1rem;

        h1 {
            font-weight: 700;
            font-size: 1.1rem;
        }

        &_container {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 50px;
                height: 50px;
                border-radius: 10px;

                @media screen and (max-width: 384px) {
                    width: 40px;
                    height: 40px;
                }
            }

            &_info {
                margin-right: 4rem;
                h2 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: 3px;
                }

                h3 {
                    font-weight: 300;

                    @media screen and (max-width: 360px){
                        display: none;
                    }
                }
            }
        }

        &_buttons {
            position: relative;
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        &-button {
            width: 19px;
            height: 19px;

            &-red {
                width: 19px;
                height: 19px;
                color: #de1818;
            }
        }
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;

        &_icon {
            display: flex;
            align-items: center;
            width: 300px;
            justify-content: space-between;

            &_slider {
                display: flex;
                align-items: center;
                gap: 3rem;
            }
        }

        &_time {
            display: flex;
            align-items: center;
            gap: 1rem;

            &_text {
                color: var(--header-title);
                font-weight: 400;
                font-size: 12px;
            }
        }
    }

    &__button-play {
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: rgb(56, 103, 163);
        box-shadow: 0 3px 10px 5px rgba(56, 103, 163, 0.5);
        border-radius: 100%;
    }

    &__audioTracks {
        width: 300px;
        height: 5px;
        border-radius: 3px;
        cursor: pointer;
        background-color: #e6e6e6;

        @media screen and (max-width: 384px) {
            width: 232px;
        }

        &_container {
            width: 100%;
            height: 100%;
            background-color: inherit;
        }

        span {
            display: block;
            height: 100%;
            background-color: rgb(56, 103, 163);
        }
    }

    &__volume {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media screen and (max-width: 959px) {
            display: none;
        }
    }
}

.button {
    cursor: pointer;
    width: 23px;
    height: 23px;
    color: rgb(56, 103, 163);

    &.play {
        color: #ffffff;
    }

    &.next {
        color: rgb(56, 103, 163);
    }

    &.prev {
        transform: rotate(180deg);
        color: rgb(56, 103, 163);
    }

    &.repeat {
        opacity: 0.5;
    }
}

.button-volume {
    color: var(--header-title);
    width: 30px;
    height: 30px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: inherit;
    cursor: pointer;
    width: 8rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(53, 97, 131);
    height: 0.3rem;
}

input[type="range"]::-moz-range-track {
    background: rgb(53, 97, 131);
    height: 0.3rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;
    background-color: #ffffff;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
    border: 1px solid #e6e5e5;
}

.added__container {
    position: relative;
}

.addedModal {
    position: absolute;
    z-index: 100;
    bottom: 3rem;
    right: -115px;
    width: 250px;
    max-height: 300px;
    background-color: var(--modal-background);
    border-radius: 1.3rem;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.4);
    -moz-box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.4);
    box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.4);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bfbfbf;
        border-radius: 15px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &_item {
            color: var(--modal-color);
        }

        li {
            cursor: pointer;
            font-size: 16px;
            color: var(--header-title);
            transition: 0.2s;

            &:hover {
                color: #000000;
            }
        }
    }
}

.addFavorite-modal {
    width: 200px;
    bottom: 0;
    visibility: hidden;
    left: -100px;
    position: absolute;
    z-index: 110;
    border-radius: 10px;
    padding: 10px 20px;
    transition: bottom ease 0.2s;
    background-color: var(--modal-background);
    color: var(--header-title);
    -webkit-box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.4);
    -moz-box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.4);
    box-shadow: 3px 3px 8px 0 rgba(4, 4, 4, 0.4);

    &.active {
        visibility: visible;
        bottom: 70px;
    }
}