html[data-theme="light"] {
  --background-color: #ffff;
  --header-background: #ffff;
  --header-title: #000000;
  --text-color: #353535;
  --input-background: inherit;
  --input-color: #3c3c3c;
  --header-icon-color: #3c3c3c;
  --header-icon-background: #ffff;
  --sidebar-background: #f2f3f7;
  --sidebar-title-color: #5C5A5A;
  --sidebar-item-background: #ffff;
  --sidebar-title-color-hover: #000000;
  --button-background: #fff;
  --wrapper-background: rgb(243, 243, 243);
  --wraper-playlists: #ffff;
  --button-category-color: #000000;
  --button-category-background: #f8f8f8;
  --button-category-active: #7399e2;
  --player-background: #ffff;
  --player-background-icon: #ffff;
  --border: 1px solid #eeeded;
  --custom-blocks-border: none;
  --modal-background: #ffff;
  --modal-color: #6d6d6d;
  --registation-background: rgb(243, 243, 243);
  --sidebar-modal-background: #ffffff;
}

html[data-theme="dark"] {
  --background-color: #3c3c3c;
  --header-background: #3c3c3c;
  --header-title: #ffff;
  --text-color: #ffff;
  --input-background: inherit;
  --input-color: #ffff;
  --header-icon-color: #ffffff;
  --header-icon-background: #363636;
  --sidebar-background: #343434;
  --sidebar-title-color: #ffff;
  --sidebar-item-background: #000000;
  --sidebar-title-color-hover: #ffff;
  --button-background: inherit;
  --wrapper-background: inherit;
  --wraper-playlists: inherit;
  --button-category-color: #ffffff;
  --button-category-background: inherit;
  --button-category-active: #0947a2;
  --player-background: #333333;
  --player-background-icon: inherit;
  --border: none;
  --custom-blocks-border: 1px solid #484848;
  --modal-background: #323232;
  --modal-color: #fff;
  --registation-background: #262626;
  --sidebar-modal-background: #252525;
}

h1, h2, h3, h4 {
  color: var(--header-title);
}

.slider {
  h1 {
    color: #fff;
  }
}

