html[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #353535;
}

html[data-theme="dark"] {
  --background-color: #3c3c3c;
  --text-color: #ffff;
  transition: background-color 0.3s;
  h1 {
    color: #ffffff;
  }
  .header {
    background-color: #3c3c3c;
    border: none;
      p {
        color: #ffffff;
    }
    input {
      background-color: inherit;
      color: #ffffff;
    }

    &__user, &__sun {
      width: 35px;
      height: 35px;
      color: #ffffff;
      background-color: #363636;
    }
    &__sun {
      color: #ffe04d;
    }

    &__moon {
      background-color: #3c3c3c;
      color: #ffffff;
      width: 35px;
      height: 35px;
    }
  }
  .sidebar {
    background-color: #343434;
    h2, h3 {
      color: #ffffff;
    }
    li:hover {
      color: #ffffff;
      background-color: #000000;
    }
    &__playlist:hover {
      background-color: #000000;
    }

    .sidebar__bottom-create-button {
      background-color: inherit;
      color: #ffffff;
      &:hover {
        background-color: #000000;
      }
    }
  }
  .sound__block {
    border: none;
  }
  .main__title {

    &_icon {
      color: #ffffff;
    }
  }

  .main__back {
    transition: 0.3s;
    &_icon, &_text {
      color: #ffffff;
    }
    &:hover {
      background-color: #303030;
    }
  }
  .genres__item-wrapper, .custom, .bottom {
    background-color: inherit;
  }
  .main__category_button {
    color: #ffffff;
    background-color: #1e1e1e;
    
    &.active {
      background-color: #0947a2;
    }
  }
  .player {
    border: none;
    background-color: #2c2c2c;
    button {
      background-color: inherit;
      color: #ffffff;
    }
    .player__button-play {
      background-color: rgb(56, 103, 163);
    }
  }
  .favorite__icon {
    background: inherit;
  }
  .custplaylist__title {
    color: #ffffff;
  }
  .custom, .bottom {
    border: 1px solid #484848;
    .enter, h2, h4 {
      color: #ffffff;
    }
  }
  .custom__button-del_modal, .addFavorite-modal, .custom__modal {
    background-color: #323232;
  }
  .sound__right {
    button {
      background-color: inherit;
    }
  }
  .custom__modal {
    .custom__modal-line {
      background-color: #fff;
    }
    button {
      background-color: inherit;
      color: #ffffff;
    }
  }
  .addedModal {
    background-color: #323232;
    p, li {
     color: #ffffff;
    }
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
}
