//:root[data-theme="light"] {
//  --background-color: #ffffff;
//  --text-color: #1C1E21;
//}

:root {
  --background-color: #3c3c3c;
  --text-color: #ffff;
  h1 {
    color: #ffffff;
  }
  .header {
    background-color: #3c3c3c;
      p {
        color: #ffffff;
    }
    input {
      background-color: inherit;
      color: #ffffff;
    }

    &__user, &__sun {
      width: 35px;
      height: 35px;
      color: #ffffff;
      background-color: #363636;
    }
    &__sun {
      color: #ffe04d;
    }

  }
  .sidebar {
    background-color: #343434;
    h2, h3 {
      color: #ffffff;
    }
    li:hover {
      color: #ffffff;
      background-color: #000000;
    }
    &__playlist:hover {
      background-color: #000000;
    }

    .sidebar__bottom-create-button {
      background-color: inherit;
      color: #ffffff;
      &:hover {
        background-color: #000000;
      }
    }
  }
  .sound__block {
    border: none;
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
}
