@import 'components/header';
@import 'components/sidebar';
@import 'components/category';
@import 'components/slider';
@import 'components/sound';
@import 'components/genres';
@import 'components/collections';
@import 'components/chart';
@import 'components/menu';
@import 'components/player';
@import 'components/favorite';
@import 'components/playlist';
@import 'components/playlist';
@import "components/custplaylist";
@import "components/form";

.wrapper {
    background-color: var(--background-color);
    transition: background-color 0.2s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.content {
    display: flex;
    gap: 0;
    padding-bottom: 80px;
}

.main {
    margin-left: 13%;
    width: 87%;
    margin-top: 100px;

    @media screen and (max-width: 1300px) {
        margin-left: 0;
        width: 100%;
    }

    &__container {
        width: 95%;
        margin: 0 auto;
        padding: 21px 0;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 40px;
        cursor: pointer;
        transition: 0.3s;
        h1 {
            font-size: 26px;
            font-weight: 700;
        }

        &_icon {
            width: 25px;
            height: 25px;
            color: var(--header-icon-color);
        }

        &:hover {
            color: rgb(56, 103, 163);
        }
    }

    &__back {
        padding: 6px 25px;
        border-radius: 7px;
        border: 1px solid var(--text-color);
        background-color: var(--button-backgrond);
        margin-bottom: 40px;
        text-align: center;

        &_container {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &_icon {
            width: 20px;
            height: 20px;
            color: var(--header-icon-color);
        }

        &_text {
            margin-right: 0.7rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--header-title);
        }
    }
}



.link {
    color: #000000;
}
